@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,500;1,600;1,700&family=Mooli&display=swap");
html,
body {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
  font-family: "Montserrat", sans-serif;
  font-family: "Mooli", sans-serif;
  scroll-behavior: smooth;
}
